!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="description=" content="Software engineer, fast learner, and lover of complex music. I'm a Ruby on Rails developer and JavaScript enthusiast. I like to get things done in a timely fashion and with great quality of code, I'm interested in challenges like breaking down complex requirements into real software and I'm always looking forward to learning how specific technologies work deeply, and I reinvent myself every once in a while.")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Antonio Chavez | Juan Antonio Chavez Valencia
    = stylesheet_link_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag  "application", "data-turbolinks-track" => true, media: :all
  %body
    .bg-fixed
    = render 'layouts/header'
    .main-container
      = yield
    .blank-space
    = render 'layouts/footer'
